body {
    margin: 0;
    background-image: url("images/background.png");
}

.logo {
    float: left;
    font-size: 50px;
    font-style: bolder;
    margin-left: 15px;
}

li {
    display: inline;
    list-style-type: none;
    font-weight: bolder;
    font-size: 30px;
    padding: 8px;
    float: right;
    margin-top: 5px;
}

nav {
    background-color: white;
    overflow: hidden;
}

.slogan {
    float: right;
    font-size: 35px;
    width: 800px;
    margin-top: 90px;
    align-items: center;
    margin-right: 300px;
}

.shop {
    border: 2px solid black;
    border-radius: 86px;
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
    background-color: #8FBC8F;
    color: white;
    cursor: pointer;
    outline: 0;
}

button:active {
    position: relative;
    top: 1px;
}

body {
    background-color: #6A8353;
}