.logo {
    float: left;
    font-size: 50px;
    font-style: bolder;
    margin-left: 15px;
}

li {
    display: inline;
    list-style-type: none;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

nav {
    background-color: white;
    overflow: hidden;
}

.slogan {
    float: right;
    font-size: 30px;
    width: 900px;
    margin-top: 30px;
    align-items: center;
    margin-right: 250px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
}

.shop {
    border: 2px solid black;
    border-radius: 86px;
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
    background-color: #8FBC8F;
    color: white;
    cursor: pointer;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 1px black;
}

h3 {
    margin-top: 120px;
}

button:active {
    position: relative;
    top: 1px;
}

body {
    background-color: #6A8353;
    margin: 0px;
    background-image: url("images/background.png");
    /* margin-bottom: 800px; */
}

.social-media {
    /* display: inline; */
    position: absolute;
}

.brand {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    float: left;
    color: #707070;
}